// ------------------------------------ //
//  COLORS
// ------------------------------------ //

$color-primary-1: #d8ebff;
$color-primary-2: #d8ebff33;
$color-red: #ff3737;
$color-dark-blue: #000c19;
$color-orange: #ffc238;
$color-blue: #3798ff;
$color-icons: #73b7ff;
$color-white: #ffffff;
$color-black: #000000;
