@import './../press-control.scss';

.job {
    height: 132px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(44, 146, 255, 0.7);
    background-color: rgba(0, 123, 255, 0.08);

    &__name{
         @include kedem-body-primary-medium-bold;
         margin-left: 27px;
    }
  }

 .container{
    @include horizontal-container;
    align-items: center;
    height: 50%;
}