<!-- Shift supplies popup - imported from Anima -->
<div id="pBvbtxT">
  <div class="supplies supplies-gJE8 component state2" data-initial-state="state2">
      <div style="width: 482px; height: 100%; position:relative; margin:auto;">
          <img class="suppliescon" src="app/root-modules/planner/shift-supplies/img/supplies-suppliescon.png">
              <img class="suppliestime" src="app/root-modules/planner/shift-supplies/img/supplies-suppliestime.png">
                  <div class="rectangle">
                  </div>
                  <div class="listbytime">
                      <div class="magenta">
                          <img class="oval" src="app/root-modules/planner/shift-supplies/img/supplies-oval@2x.png">
                              <div class="m">
                                  M
                              </div>
                              <div class="magenta1">
                                  Magenta
                              </div>
                              <div class="a2">
                                  2
                              </div>
                              <div class="a0930">
                                  09:30
                              </div>
                              <div class="time1">
                                  <img class="ovalcopy21" src="app/root-modules/planner/shift-supplies/img/supplies-oval-copy-2-11@2x.png">
                                      <div class="timeicon1">
                                          <div class="rectangle11">
                                          </div>
                                          <div class="rectanglecopy1">
                                          </div>
                                      </div>
                                  
                              </div>
                          
                      </div>
                      <div class="green">
                          <img class="oval1" src="app/root-modules/planner/shift-supplies/img/supplies-oval-5@2x.png">
                              <div class="g">
                                  G
                              </div>
                              <div class="green1">
                                  Green
                              </div>
                              <div class="a21">
                                  2
                              </div>
                              <div class="a1305">
                                  13:05
                              </div>
                              <div class="time2">
                                  <img class="ovalcopy22" src="app/root-modules/planner/shift-supplies/img/supplies-oval-copy-2-11@2x.png">
                                      <div class="timeicon2">
                                          <div class="rectangle21">
                                          </div>
                                          <div class="rectanglecopy2">
                                          </div>
                                      </div>
                                  
                              </div>
                          
                      </div>
                      <div class="violet">
                          <img class="oval2" src="app/root-modules/planner/shift-supplies/img/supplies-oval-6@2x.png">
                              <div class="v">
                                  V
                              </div>
                              <div class="violet1">
                                  Violet
                              </div>
                              <div class="a22">
                                  2
                              </div>
                              <div class="a1050">
                                  10:50
                              </div>
                              <div class="time3">
                                  <img class="ovalcopy23" src="app/root-modules/planner/shift-supplies/img/supplies-oval-copy-2-11@2x.png">
                                      <div class="timeicon3">
                                          <div class="rectangle3">
                                          </div>
                                          <div class="rectanglecopy3">
                                          </div>
                                      </div>
                                  
                              </div>
                          
                      </div>
                      <div class="white">
                          <img class="oval3" src="app/root-modules/planner/shift-supplies/img/supplies-oval-7@2x.png">
                              <div class="w">
                                  W
                              </div>
                              <div class="magenta1">
                                  Magenta
                              </div>
                              <div class="a3">
                                  3
                              </div>
                              <div class="a1130">
                                  11:30
                              </div>
                              <div class="time4">
                                  <img class="ovalcopy24" src="app/root-modules/planner/shift-supplies/img/supplies-oval-copy-2-11@2x.png">
                                      <div class="timeicon4">
                                          <div class="rectangle4">
                                          </div>
                                          <div class="rectanglecopy4">
                                          </div>
                                      </div>
                                  
                              </div>
                          
                      </div>
                      <div class="substratein1">
                          <img class="icon1" src="app/root-modules/planner/shift-supplies/img/supplies-icon@2x.png">
                              <div class="substratelongname">
                                  Substrate long name 1
                              </div>
                              <div class="a7">
                                  7
                              </div>
                              <div class="a1005">
                                  10:05
                              </div>
                              <div class="time5">
                                  <img class="ovalcopy25" src="app/root-modules/planner/shift-supplies/img/supplies-oval-copy-2-11@2x.png">
                                      <div class="timeicon5">
                                          <div class="rectangle5">
                                          </div>
                                          <div class="rectanglecopy5">
                                          </div>
                                      </div>
                                  
                              </div>
                          
                      </div>
                      <div class="substratein2">
                          <img class="icon2" src="app/root-modules/planner/shift-supplies/img/supplies-icon-3@2x.png">
                              <img class="export1" src="app/root-modules/planner/shift-supplies/img/supplies-export-1@2x.png">
                                  <div class="substratelongname1">
                                      Substrate long name 1
                                  </div>
                                  <div class="a4">
                                      4
                                  </div>
                                  <div class="a1200">
                                      12:00
                                  </div>
                                  <div class="time6">
                                      <img class="ovalcopy26" src="app/root-modules/planner/shift-supplies/img/supplies-oval-copy-2-11@2x.png">
                                          <div class="timeicon6">
                                              <div class="rectangle6">
                                              </div>
                                              <div class="rectanglecopy6">
                                              </div>
                                          </div>
                                      
                                  </div>
                              
                          
                      </div>
                  </div>
                  <div class="listbyconsumables">
                      <div class="consumables">
                          <div class="consumablescontent">
                              <div class="bid">
                                  BID
                              </div>
                              <div class="a2">
                                  2
                              </div>
                              <div class="a0800">
                                  08:00
                              </div>
                              <div class="icons16icons16time">
                                  <img class="ovalcopy2" src="app/root-modules/planner/shift-supplies/img/supplies-oval-copy-2-11@2x.png">
                                      <div class="timeicon">
                                          <div class="rectangle21">
                                          </div>
                                          <div class="rectanglecopy">
                                          </div>
                                      </div>
                                  
                              </div>
                              <div class="icons16icons16substratein">
                                  <img class="icon" src="app/root-modules/planner/shift-supplies/img/supplies-icon-2@2x.png"/>
                              </div>
                          </div>
                      </div>
                      <div class="inks">
                          <div class="inks2">
                              <div class="magenta">
                                  Magenta
                              </div>
                              <div class="a21">
                                  2
                              </div>
                              <div class="a08001">
                                  08:00
                              </div>
                              <div class="icons16icons16time1">
                                  <img class="ovalcopy21" src="app/root-modules/planner/shift-supplies/img/supplies-oval-copy-2-11@2x.png">
                                      <div class="timeicon1">
                                          <div class="rectangle5">
                                          </div>
                                          <div class="rectanglecopy1">
                                          </div>
                                      </div>
                                  
                              </div>
                              <div class="inks36ink36magenta">
                                  <div class="background">
                                  </div>
                                  <img class="oval" src="app/root-modules/planner/shift-supplies/img/supplies-oval@2x.png">
                                      <div class="m">
                                          M
                                      </div>
                                  
                              </div>
                              <div class="green">
                                  Green
                              </div>
                              <div class="a22">
                                  2
                              </div>
                              <div class="a08002">
                                  08:00
                              </div>
                              <div class="icons16icons16time2">
                                  <img class="ovalcopy22" src="app/root-modules/planner/shift-supplies/img/supplies-oval-copy-2-11@2x.png">
                                      <div class="timeicon2">
                                          <div class="rectangle6">
                                          </div>
                                          <div class="rectanglecopy2">
                                          </div>
                                      </div>
                                  
                              </div>
                              <div class="inks36ink36green">
                                  <div class="background1">
                                  </div>
                                  <img class="oval1" src="app/root-modules/planner/shift-supplies/img/supplies-oval-5@2x.png">
                                      <div class="g">
                                          G
                                      </div>
                                  
                              </div>
                              <div class="violet">
                                  Violet
                              </div>
                              <div class="a23">
                                  2
                              </div>
                              <div class="a08003">
                                  08:00
                              </div>
                              <div class="icons16icons16time3">
                                  <img class="ovalcopy23" src="app/root-modules/planner/shift-supplies/img/supplies-oval-copy-2-11@2x.png">
                                      <div class="timeicon3">
                                          <div class="rectangle7">
                                          </div>
                                          <div class="rectanglecopy3">
                                          </div>
                                      </div>
                                  
                              </div>
                              <div class="inks36ink36violet">
                                  <div class="background2">
                                  </div>
                                  <img class="oval2" src="app/root-modules/planner/shift-supplies/img/supplies-oval-6@2x.png">
                                      <div class="v">
                                          V
                                      </div>
                                  
                              </div>
                              <div class="magenta1">
                                  Magenta
                              </div>
                              <div class="a24">
                                  2
                              </div>
                              <div class="a08004">
                                  08:00
                              </div>
                              <div class="icons16icons16time4">
                                  <img class="ovalcopy24" src="app/root-modules/planner/shift-supplies/img/supplies-oval-copy-2-11@2x.png">
                                      <div class="timeicon4">
                                          <div class="rectangle8">
                                          </div>
                                          <div class="rectanglecopy4">
                                          </div>
                                      </div>
                                  
                              </div>
                              <div class="inks36ink36white">
                                  <div class="background3">
                                  </div>
                                  <img class="oval3" src="app/root-modules/planner/shift-supplies/img/supplies-oval-7@2x.png">
                                      <div class="w">
                                          W
                                      </div>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="substrate">
                          <div class="substratecontent">
                              <div class="substratelongname">
                                  Substrate long name 1
                              </div>
                              <div class="a25">
                                  2
                              </div>
                              <div class="a08005">
                                  08:00
                              </div>
                              <div class="icons16icons16time5">
                                  <img class="ovalcopy25" src="app/root-modules/planner/shift-supplies/img/supplies-oval-copy-2-11@2x.png">
                                      <div class="timeicon5">
                                          <div class="rectangle10">
                                          </div>
                                          <div class="rectanglecopy5">
                                          </div>
                                      </div>
                                  
                              </div>
                              <div class="icons16icons16substratein1">
                                  <img class="icon1" src="app/root-modules/planner/shift-supplies/img/supplies-icon-3@2x.png">
                                      <img class="export" src="app/root-modules/planner/shift-supplies/img/supplies-export-1@2x.png"/>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="rectangle1">
                  </div>
                  <div class="rectangle2">
                  </div>
                  <img class="bitmap" src="app/root-modules/planner/shift-supplies/img/supplies-bitmap.png"/>
              
          
      </div>
  </div>
</div>