@import "./../planner.scss";

.bg {
    //Todo: width and height should be responsive  
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle at 51% 50%, #10559f, $color-dark-blue);
}

.print-progress-layout {
    margin-left: 48px;
    margin-top: 52px;
}

.planners-area{
    @include horizontal-container;
    margin-top: 63px;
}

.shifts-area{
    @include horizontal-container;
    justify-content: center;
    align-items: center;
    margin-top: 91px;
}

.shift-details{
    @include kedem-headline-1;
    margin-right: 20px;
    margin-left: 20px;
}

.supplies{
    width: 150px;
    margin-left: 20px;
}

.shift-supplies-popup{
    position: absolute;
    z-index: 100;
    margin-left: -175px;
    margin-top: -65px;
    outline: none;
}

.planner-slots-list {
    width: 100%;
    display: table;
    margin: 0 auto;
    margin-left: 100px;
}

.jobs-list{
    @include horizontal-container;
    float: right;
    margin-left: 19px;
    align-items: center;
}

.job-list-expander{
    cursor: pointer;
}




