<div class="rullerstimelinerullertimelineleft23">
    <div class="rullerstimelinerullertimelineleft24">
        <div class="background"></div>
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                08:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft25">
        <div class="background"></div>
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                09:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft26">
        <div class="background"></div>
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                10:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft27">
        <div class="background"></div>
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                11:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft28">
        <div class="background"></div>
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                12:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft29">
        <div class="background"></div>
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                13:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft30">
        <div class="background"></div>
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                14:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft31">
        <div class="background"></div>
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                15:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft32">
        <div class="background"></div>
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                16:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft33">
        <div class="background"></div>
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                17:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft34">
        <div class="background"></div>
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                18:00
            </div>
        </div>
    </div>
</div>