.rullerstimelinerullertimelineleft23 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 267px;
    height: 818px;
    width: 42px;
    margin: 0;
    left: 1790px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft24 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    overflow: hidden;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft24 .background {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft24 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 97.62%;
    position: absolute;
    margin: 0;
    left: 1.19%;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft24 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 33.82%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft24 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 49.26%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft24 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 32.35%;
    height: 1.47%;
    width: 48.78%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft24 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 16.18%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft24 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 0px;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft24 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(216, 235, 255, 1.0);
    text-align: left;
    line-height: 16.0px;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft25 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 9.17%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    overflow: hidden;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft25 .background {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft25 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 97.62%;
    position: absolute;
    margin: 0;
    left: 1.19%;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft25 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 33.82%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft25 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 49.26%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft25 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 32.35%;
    height: 1.47%;
    width: 48.78%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft25 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 16.18%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft25 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 0px;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft25 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(216, 235, 255, 1.0);
    text-align: left;
    line-height: 16.0px;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft26 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 18.34%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    overflow: hidden;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft26 .background {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft26 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 97.62%;
    position: absolute;
    margin: 0;
    left: 1.19%;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft26 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 33.82%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft26 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 49.26%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft26 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 32.35%;
    height: 1.47%;
    width: 48.78%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft26 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 16.18%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft26 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 0px;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft26 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(216, 235, 255, 1.0);
    text-align: left;
    line-height: 16.0px;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft27 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 27.51%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    overflow: hidden;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft27 .background {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft27 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 97.62%;
    position: absolute;
    margin: 0;
    left: 1.19%;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft27 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 33.82%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft27 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 49.26%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft27 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 32.35%;
    height: 1.47%;
    width: 48.78%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft27 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 16.18%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft27 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 0px;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft27 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(216, 235, 255, 1.0);
    text-align: left;
    line-height: 16.0px;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft28 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 36.67%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    overflow: hidden;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft28 .background {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft28 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 97.62%;
    position: absolute;
    margin: 0;
    left: 1.19%;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft28 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 33.82%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft28 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 49.26%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft28 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 32.35%;
    height: 1.47%;
    width: 48.78%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft28 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 16.18%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft28 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 0px;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft28 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(216, 235, 255, 1.0);
    text-align: left;
    line-height: 16.0px;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft29 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 45.84%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    overflow: hidden;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft29 .background {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft29 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 97.62%;
    position: absolute;
    margin: 0;
    left: 1.19%;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft29 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 33.82%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft29 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 49.26%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft29 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 32.35%;
    height: 1.47%;
    width: 48.78%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft29 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 16.18%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft29 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 0px;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft29 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(216, 235, 255, 1.0);
    text-align: left;
    line-height: 16.0px;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft30 {
    background-color: rgba(255, 255, 255, 0.0);
    bottom: 36.67%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    overflow: hidden;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft30 .background {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft30 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 97.62%;
    position: absolute;
    margin: 0;
    left: 1.19%;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft30 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 33.82%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft30 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 49.26%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft30 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 32.35%;
    height: 1.47%;
    width: 48.78%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft30 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 16.18%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft30 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 0px;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft30 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(216, 235, 255, 1.0);
    text-align: left;
    line-height: 16.0px;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft31 {
    background-color: rgba(255, 255, 255, 0.0);
    bottom: 27.51%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    overflow: hidden;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft31 .background {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft31 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 97.62%;
    position: absolute;
    margin: 0;
    left: 1.19%;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft31 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 33.82%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft31 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 49.26%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft31 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 32.35%;
    height: 1.47%;
    width: 48.78%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft31 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 16.18%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft31 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 0px;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft31 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(216, 235, 255, 1.0);
    text-align: left;
    line-height: 16.0px;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft32 {
    background-color: rgba(255, 255, 255, 0.0);
    bottom: 18.34%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    overflow: hidden;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft32 .background {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft32 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 97.62%;
    position: absolute;
    margin: 0;
    left: 1.19%;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft32 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 33.82%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft32 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 49.26%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft32 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 32.35%;
    height: 1.47%;
    width: 48.78%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft32 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 16.18%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft32 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 0px;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft32 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(216, 235, 255, 1.0);
    text-align: left;
    line-height: 16.0px;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft33 {
    background-color: rgba(255, 255, 255, 0.0);
    bottom: 9.17%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    overflow: hidden;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft33 .background {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft33 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 97.62%;
    position: absolute;
    margin: 0;
    left: 1.19%;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft33 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 33.82%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft33 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 49.26%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft33 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 32.35%;
    height: 1.47%;
    width: 48.78%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft33 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 16.18%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft33 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 0px;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft33 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(216, 235, 255, 1.0);
    text-align: left;
    line-height: 16.0px;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft34 {
    background-color: rgba(255, 255, 255, 0.0);
    bottom: 0px;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    overflow: hidden;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft34 .background {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft34 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 100%;
    width: 97.62%;
    position: absolute;
    margin: 0;
    left: 1.19%;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft34 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 33.82%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft34 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    top: 49.26%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft34 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 32.35%;
    height: 1.47%;
    width: 48.78%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft34 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 16.18%;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft34 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0.0);
    right: 0px;
    bottom: 0px;
    height: 1.47%;
    width: 24.39%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft23 .rullerstimelinerullertimelineleft34 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(216, 235, 255, 1.0);
    text-align: left;
    line-height: 16.0px;
}

.anima-valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}