<!-- Job properties screen - imported from Anima -->
<div class="properties properties-hlA3 component state1" data-initial-state="state1">
  <div style="width: 1920px; height: 100%; position:relative; margin:auto;">
    <div class="bg">
      <div class="bgscreen">
      </div>
      <img class="bg2" src="app/feature-modules/press-control/job-properties/img/properties-bg.png">
      <img class="bg11" src="app/feature-modules/press-control/job-properties/img/properties-bg-1.png">
      <img class="sep3" src="app/feature-modules/press-control/job-properties/img/properties-sep-2.png">
      <img class="sep1" src="app/feature-modules/press-control/job-properties/img/properties-sep-2.png">
      <img class="sep2" src="app/feature-modules/press-control/job-properties/img/properties-sep-2.png">
      <div class="btn-view">
        <img class="bg3" src="app/feature-modules/press-control/job-properties/img/properties-bg-2@2x.png">
        <div class="cancel anima-valign-text-middle">
          Cancel
        </div>
        <img class="bg12" src="app/feature-modules/press-control/job-properties/img/properties-bg-3@2x.png">
        <div class="save anima-valign-text-middle">
          Save
        </div>
      </div>
    </div>
    <div class="header">
      <div class="image">
        <div class="mask3">
        </div>
        <img class="job3" src="app/feature-modules/press-control/job-properties/img/properties-job3.png" />
      </div>
      <img class="namefiledidle"
        src="app/feature-modules/press-control/job-properties/img/properties-namefiledidle@2x.png">
      <img class="namefiledselected12"
        src="app/feature-modules/press-control/job-properties/img/properties-namefiledselected@2x.png">
      <div class="ledomedo">
        Ledo Medo
      </div>
      <div class="name">
        Name
      </div>
      <div class="a1h36min">
        1h 36min
      </div>
      <div class="esttime">
        Est. time
      </div>
      <div class="low">
        Low
      </div>
      <div class="priority">
        Priority
      </div>
      <div class="a250720191230">
        25/07/2019, 12:30
      </div>
      <div class="due">
        Due
      </div>
      <div class="totalcoverage">
        Total coverage
      </div>
      <div class="white">
        <img class="oval" src="app/feature-modules/press-control/job-properties/img/properties-oval-8@2x.png" />
        <div class="w">
          W
        </div>
        <div class="a98">
          98%
        </div>
      </div>
      <div class="magenta">
        <img class="oval" src="app/feature-modules/press-control/job-properties/img/properties-oval-1@2x.png" />
        <div class="m">
          M
        </div>
        <div class="a100">
          100%
        </div>
      </div>
      <div class="cyan">
        <img class="oval" src="app/feature-modules/press-control/job-properties/img/properties-oval-2@2x.png">/
        <div class="c">
          C
        </div>
        <div class="a74">
          74%
        </div>
      </div>
      <div class="yellow">
        <img class="oval" src="app/feature-modules/press-control/job-properties/img/properties-oval-3@2x.png" />
        <div class="y anima-valign-text-middle">
          Y
        </div>
        <div class="a22">
          22%
        </div>
      </div>
      <div class="green">
        <img class="oval" src="app/feature-modules/press-control/job-properties/img/properties-oval-4@2x.png" />
        <div class="g">
          G
        </div>
        <div class="a50">
          50%
        </div>
      </div>
      <div class="violet">
        <img class="oval" src="app/feature-modules/press-control/job-properties/img/properties-oval-5@2x.png" />
        <div class="v">
          V
        </div>
        <div class="a100">
          100%
        </div>
      </div>
      <div class="white1">
        <img class="oval" src="app/feature-modules/press-control/job-properties/img/properties-oval-8@2x.png" />
        <div class="w">
          W
        </div>
        <div class="a98">
          98%
        </div>
      </div>
      <div class="violet1">
        <img class="oval" src="app/feature-modules/press-control/job-properties/img/properties-oval-5@2x.png" />
        <div class="v">
          V
        </div>
        <div class="a100">
          100%
        </div>
      </div>
      <div class="white2">
        <img class="oval" src="app/feature-modules/press-control/job-properties/img/properties-oval-8@2x.png" />
        <div class="w">
          W
        </div>
        <div class="a98">
          98%
        </div>
      </div>
      <div class="violet2">
        <img class="oval" src="app/feature-modules/press-control/job-properties/img/properties-oval-5@2x.png" />
        <div class="v">
          V
        </div>
        <div class="a100">
          100%
        </div>
      </div>
      <div class="orange">
        <img class="oval" src="app/feature-modules/press-control/job-properties/img/properties-oval-10@2x.png" />
        <div class="o">
          O
        </div>
        <div class="a48">
          48%
        </div>
      </div>
      <div class="black">
        <img class="oval" src="app/feature-modules/press-control/job-properties/img/properties-oval-11@2x.png" />
        <div class="k">
          K
        </div>
        <div class="a32">
          32%
        </div>
      </div>
    </div>
    <div class="tubs">
      <img class="fill" src="app/feature-modules/press-control/job-properties/img/properties-fill@2x.png" />
      <div class="job">
        Job
      </div>
      <img class="fill1" src="app/feature-modules/press-control/job-properties/img/properties-fill-4@2x.png" />
      <div class="color">
        Color
      </div>
      <img class="fill2" src="app/feature-modules/press-control/job-properties/img/properties-fill-4@2x.png" />
      <div class="steprepet">
        Step &amp; repet
      </div>
      <img class="fill3" src="app/feature-modules/press-control/job-properties/img/properties-fill-4@2x.png">/
      <div class="print">
        Print
      </div>
      <img class="fill4" src="app/feature-modules/press-control/job-properties/img/properties-fill-4@2x.png" />
      <div class="finish">
        Finish
      </div>
      <img class="fill5" src="app/feature-modules/press-control/job-properties/img/properties-fill-5@2x.png" />
      <div class="action1">
        Action 1
      </div>
    </div>
    <div class="sepsseplightgrad">
      <img class="sep1" src="app/feature-modules/press-control/job-properties/img/properties-sep-4@2x.png" />
    </div>
    <img class="namefiledselected"
      src="app/feature-modules/press-control/job-properties/img/properties-namefiledselected-12@2x.png" />
    <div class="all">
      All
    </div>
    <div class="printrange">
      Print range
    </div>
    <div class="mohawk80eggshell">
      Mohawk 80# Eggshell
    </div>
    <div class="substrate">
      Substrate
    </div>
    <img class="namefiledselected1"
      src="app/feature-modules/press-control/job-properties/img/properties-namefiledselected-2@2x.png" />
    <img class="namefiledselected2"
      src="app/feature-modules/press-control/job-properties/img/properties-namefiledselected-6@2x.png" />
    <img class="namefiledselected3"
      src="app/feature-modules/press-control/job-properties/img/properties-namefiledselected-4@2x.png">/
    <div class="a123">
      123
    </div>
    <div class="rectangle">
    </div>
    <div class="rectangle1">
    </div>
    <div class="rectangle2">
    </div>
    <img class="namefiledselected4"
      src="app/feature-modules/press-control/job-properties/img/properties-namefiledselected-2@2x.png" />
    <img class="namefiledselected5"
      src="app/feature-modules/press-control/job-properties/img/properties-namefiledselected-6@2x.png" />
    <img class="namefiledselected6"
      src="app/feature-modules/press-control/job-properties/img/properties-namefiledselected-4@2x.png" />
    <div class="a1231">
      123
    </div>
    <div class="rectangle3">
    </div>
    <div class="rectangle4">
    </div>
    <div class="rectangle5">
    </div>
    <div class="copy">
      copy
    </div>
    <img class="namefiledselected7"
      src="app/feature-modules/press-control/job-properties/img/properties-namefiledselected-8.png" />
    <img class="namefiledselected8"
      src="app/feature-modules/press-control/job-properties/img/properties-namefiledselected-6@2x.png" />
    <img class="namefiledselected9"
      src="app/feature-modules/press-control/job-properties/img/properties-namefiledselected-4@2x.png" />
    <div class="a1232">
      123
    </div>
    <div class="rectangle6">
    </div>
    <div class="rectangle7">
    </div>
    <div class="rectangle8">
    </div>
    <div class="lenghtm">
      Lenght (m)
    </div>
    <div class="jobdetails">
      Job details
    </div>
    <img class="mask" src="app/feature-modules/press-control/job-properties/img/properties-mask-1@2x.png" />
    <div class="sepsseplightgrad1">
      <img class="sep1" src="app/feature-modules/press-control/job-properties/img/properties-sep-4@2x.png" />
    </div>
    <img class="namefiledselected10"
      src="app/feature-modules/press-control/job-properties/img/properties-namefiledselected-11.png" />
    <div class="keeponpressfor">
      Keep on Press for
    </div>
    <div class="retainedjobafterp">
      Retained job after printing
    </div>
    <div class="standard">
      Standard
    </div>
    <div class="jobtype">
      Job type
    </div>
    <div class="loremipsumissimpl">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      a type specimen book
    </div>
    <div class="dfe">
      DFE
    </div>
    <img class="mask1" src="app/feature-modules/press-control/job-properties/img/properties-mask-1@2x.png" />
    <img class="namefiledselected11"
      src="app/feature-modules/press-control/job-properties/img/properties-namefiledselected-12@2x.png" />
    <div class="days">
      Days
    </div>
    <img class="mask2" src="app/feature-modules/press-control/job-properties/img/properties-mask-1@2x.png" />
    <div class="sepsseplightgrad2">
      <img class="sep1" src="app/feature-modules/press-control/job-properties/img/properties-sep-4@2x.png" />
    </div>
    <img class="bg1" src="app/feature-modules/press-control/job-properties/img/properties-bg-4@2x.png" />
    <img class="sep" src="app/feature-modules/press-control/job-properties/img/properties-sep-6@2x.png" />
    <div class="group">
      <div class="rectangle9">
      </div>
      <div class="rectangle11">
      </div>
    </div>
    <img class="icon" src="app/feature-modules/press-control/job-properties/img/properties-icon@2x.png" />
  </div>
</div>