<div class="plannerplannercontrolindications">
    <div class="background"></div>
    <div class="controlpannelindication">
        <div class="background1"></div>
        <div class="controlpannelcontrolpannelindication">
            <div class="btn-view">
                <div class="btnscirclebtncircleidle">
                    <div class="background2"></div>
                    <div class="frame">
                        <img class="shade" src="/assets/images/common/indications/artboard-shade-5@2x.png" />
                        <img class="fill" src="/assets/images/common/indications/artboard-fill@2x.png" />
                        <img class="line" src="/assets/images/common/indications/artboard-line-2@2x.png" />
                    </div>
                    <div class="frame1">
                        <img class="shade" src="/assets/images/common/indications/artboard-shade-5@2x.png" />
                        <img class="fill" src="/assets/images/common/indications/artboard-fill-6@2x.png" />
                        <img class="line" src="/assets/images/common/indications/artboard-line-2@2x.png" />
                    </div>
                    <div class="frame2">
                        <img class="fill" src="/assets/images/common/indications/artboard-fill-7@2x.png" />
                        <img class="fill1" src="/assets/images/common/indications/artboard-fill-8@2x.png" />
                    </div>
                    <div class="buttondown">
                        <img class="shadow" src="/assets/images/common/indications/artboard-shadow@2x.png" />
                        <img class="bg" src="/assets/images/common/indications/artboard-bg@2x.png" />
                        <img class="outterring" src="/assets/images/common/indications/artboard-outter-ring@2x.png" />
                        <div class="glare">
                            <img class="solid" src="/assets/images/common/indications/artboard-solid-2@2x.png" />
                            <img class="blur1" src="/assets/images/common/indications/artboard-blur-1-2@2x.png" />
                            <img class="blur2" src="/assets/images/common/indications/artboard-blur-2-1@2x.png" />
                        </div>
                    </div>
                    <div class="icons24icon24movetoidle">
                        <div class="background3"></div>
                        <div class="group">
                            <img class="group1" src="/assets/images/common/indications/artboard-group-1@2x.png" />
                        </div>
                        <img class="oval" src="/assets/images/common/indications/artboard-oval-25@2x.png" />
                    </div>
                </div>
            </div>
            <div class="controlpannelgaugesgaugegaugehalf">
                <div class="background2"></div>
                <div class="steps1">
                    <div class="bg">
                        <img class="bg2" src="/assets/images/common/indications/artboard-bg@2x.png" />
                        <img class="bg11" src="/assets/images/common/indications/artboard-bg@2x.png" />
                    </div>
                    <div class="bg1">
                        <img class="bg3" src="/assets/images/common/indications/artboard-bg@2x.png" />
                        <img class="bg11" src="/assets/images/common/indications/artboard-bg@2x.png" />
                        <img class="bg2" src="/assets/images/common/indications/artboard-bg@2x.png" />
                        <img class="blue2" src="/assets/images/common/indications/artboard-blue-4@2x.png" />
                    </div>
                    <img class="blue" src="/assets/images/common/indications/artboard-blue-1@2x.png" />
                    <img class="blue1" src="/assets/images/common/indications/artboard-blue-2@2x.png" />
                    <img class="oval" src="/assets/images/common/indications/artboard-oval-30@2x.png" />
                </div>
            </div>
            <div class="inks">
                Inks
            </div>
            <div class="lablesorange">
                <div class="red anima-valign-text-middle">
                    01:20
                </div>
            </div>
        </div>
        <div class="steps">
            <div class="bg">
                <img class="bg1" src="/assets/images/common/indications/artboard-bg@2x.png" />
            </div>
            <div class="blue">
                <img class="blue1" src="/assets/images/common/indications/artboard-blue-12@2x.png" />
            </div>
            <div class="red">
                <img class="red1" src="/assets/images/common/indications/artboard-red-1@2x.png" />
            </div>
            <div class="orange">
                <img class="orange1" src="/assets/images/common/indications/artboard-orange-2@2x.png" />
            </div>
        </div>
    </div>
    <div class="controlpannelindication1">
        <div class="background1"></div>
        <div class="controlpannelcontrolpannelindication">
            <div class="btn-view">
                <div class="btnscirclebtncircleidle">
                    <div class="background2"></div>
                    <div class="frame">
                        <img class="shade" src="/assets/images/common/indications/artboard-shade-5@2x.png" />
                        <img class="fill" src="/assets/images/common/indications/artboard-fill@2x.png" />
                        <img class="line" src="/assets/images/common/indications/artboard-line-2@2x.png" />
                    </div>
                    <div class="frame1">
                        <img class="shade" src="/assets/images/common/indications/artboard-shade-5@2x.png" />
                        <img class="fill" src="/assets/images/common/indications/artboard-fill-6@2x.png" />
                        <img class="line" src="/assets/images/common/indications/artboard-line-2@2x.png" />
                    </div>
                    <div class="frame2">
                        <img class="fill" src="/assets/images/common/indications/artboard-fill-7@2x.png" />
                        <img class="fill1" src="/assets/images/common/indications/artboard-fill-8@2x.png" />
                    </div>
                    <div class="buttondown">
                        <img class="shadow" src="/assets/images/common/indications/artboard-shadow@2x.png" />
                        <img class="bg" src="/assets/images/common/indications/artboard-bg@2x.png" />
                        <img class="outterring" src="/assets/images/common/indications/artboard-outter-ring@2x.png" />
                        <div class="glare">
                            <img class="solid" src="/assets/images/common/indications/artboard-solid-2@2x.png" />
                            <img class="blur1" src="/assets/images/common/indications/artboard-blur-1-2@2x.png" />
                            <img class="blur2" src="/assets/images/common/indications/artboard-blur-2-1@2x.png" />
                        </div>
                    </div>
                    <div class="icons24icon24movetoidle">
                        <div class="background3"></div>
                        <div class="group">
                            <img class="group1" src="/assets/images/common/indications/artboard-group-1@2x.png" />
                        </div>
                        <img class="oval" src="/assets/images/common/indications/artboard-oval-25@2x.png" />
                    </div>
                </div>
            </div>
            <div class="controlpannelgaugesgaugegaugehalf">
                <div class="background2"></div>
                <div class="steps1">
                    <div class="bg">
                        <img class="bg3" src="/assets/images/common/indications/artboard-bg@2x.png" />
                        <img class="bg1" src="/assets/images/common/indications/artboard-bg@2x.png" />
                        <img class="bg2" src="/assets/images/common/indications/artboard-bg@2x.png" />
                        <img class="blue3" src="/assets/images/common/indications/artboard-blue-4@2x.png" />
                    </div>
                    <div class="blue2">
                        <img class="blue3" src="/assets/images/common/indications/artboard-blue-12@2x.png" />
                    </div>
                    <div class="red">
                        <img class="red1" src="/assets/images/common/indications/artboard-red-1@2x.png" />
                    </div>
                    <div class="orange">
                        <img class="orange1" src="/assets/images/common/indications/artboard-orange-1@2x.png" />
                    </div>
                    <img class="blue1" src="/assets/images/common/indications/artboard-blue-6@2x.png" />
                </div>
                <img class="blue" src="/assets/images/common/indications/artboard-blue-7@2x.png" />
                <img class="oval" src="/assets/images/common/indications/artboard-oval-30@2x.png" />
                <img class="oval1" src="/assets/images/common/indications/artboard-oval-29@2x.png" />
            </div>
            <div class="inks">
                Inks
            </div>
            <div class="lablesorange">
                <div class="red anima-valign-text-middle">
                    00:50
                </div>
            </div>
        </div>
        <div class="steps">
            <div class="bg">
                <img class="bg1" src="/assets/images/common/indications/artboard-bg@2x.png" />
            </div>
            <div class="blue">
                <img class="blue1" src="/assets/images/common/indications/artboard-blue-12@2x.png" />
            </div>
            <div class="red">
                <img class="red1" src="/assets/images/common/indications/artboard-red-1@2x.png" />
            </div>
            <div class="orange">
                <img class="orange1" src="/assets/images/common/indications/artboard-orange-2@2x.png" />
            </div>
        </div>
    </div>
    <div class="controlpannelindication2">
        <div class="background1"></div>
        <div class="controlpannelcontrolpannelindication">
            <div class="btn-view">
                <div class="btnscirclebtncircleidle">
                    <div class="background2"></div>
                    <div class="frame">
                        <img class="shade" src="/assets/images/common/indications/artboard-shade-5@2x.png" />
                        <img class="fill" src="/assets/images/common/indications/artboard-fill@2x.png" />
                        <img class="line" src="/assets/images/common/indications/artboard-line-2@2x.png" />
                    </div>
                    <div class="frame1">
                        <img class="shade" src="/assets/images/common/indications/artboard-shade-5@2x.png" />
                        <img class="fill" src="/assets/images/common/indications/artboard-fill-6@2x.png" />
                        <img class="line" src="/assets/images/common/indications/artboard-line-2@2x.png" />
                    </div>
                    <div class="frame2">
                        <img class="fill" src="/assets/images/common/indications/artboard-fill-7@2x.png" />
                        <img class="fill1" src="/assets/images/common/indications/artboard-fill-8@2x.png" />
                    </div>
                    <div class="buttondown">
                        <img class="shadow" src="/assets/images/common/indications/artboard-shadow@2x.png" />
                        <img class="bg" src="/assets/images/common/indications/artboard-bg@2x.png" />
                        <img class="outterring" src="/assets/images/common/indications/artboard-outter-ring@2x.png" />
                        <div class="glare">
                            <img class="solid" src="/assets/images/common/indications/artboard-solid-2@2x.png" />
                            <img class="blur1" src="/assets/images/common/indications/artboard-blur-1-2@2x.png" />
                            <img class="blur2" src="/assets/images/common/indications/artboard-blur-2-1@2x.png" />
                        </div>
                    </div>
                    <div class="icons24icon24movetoidle">
                        <div class="export">
                            <img class="export1" src="/assets/images/common/indications/artboard-export-10@2x.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="controlpannelgaugesgaugegaugehalf">
                <div class="background2"></div>
                <div class="steps1">
                    <div class="bg">
                        <img class="bg1" src="/assets/images/common/indications/artboard-bg@2x.png" />
                        <img class="blue1" src="/assets/images/common/indications/artboard-blue-9@2x.png" />
                    </div>
                    <div class="blue">
                        <img class="blue2" src="/assets/images/common/indications/artboard-blue-10@2x.png" />
                        <img class="blue1" src="/assets/images/common/indications/artboard-blue-11@2x.png" />
                        <img class="oval" src="/assets/images/common/indications/artboard-oval-30@2x.png" />
                    </div>
                </div>
            </div>
            <div class="inks">
                Unwinder
            </div>
            <div class="lablesorange">
                <div class="red anima-valign-text-middle">
                    01:20
                </div>
            </div>
        </div>
        <div class="steps">
            <div class="bg">
                <img class="bg1" src="/assets/images/common/indications/artboard-bg@2x.png" />
            </div>
            <div class="blue">
                <img class="blue1" src="/assets/images/common/indications/artboard-blue-12@2x.png" />
            </div>
            <div class="red">
                <img class="red1" src="/assets/images/common/indications/artboard-red-1@2x.png" />
            </div>
            <div class="orange">
                <img class="orange1" src="/assets/images/common/indications/artboard-orange-2@2x.png" />
            </div>
        </div>
    </div>
</div>