<div calss="setup-info-container-div">
    <div class="setup-div">
        <label class="setup-info-label" >Press Version: </label>
        <label class="setup-info-label" >{{setupInfoEntity?.PressVersion}}</label>
    </div>
    <div class="setup-div">
        <label class="setup-info-label" >SDK Version: </label>
        <label class="setup-info-label" >{{setupInfoEntity?.PressSDKVersion}}</label>
    </div>
    <div class="setup-div">
        <label class="setup-info-label" >PLC Build Version: </label>
        <label class="setup-info-label" >{{setupInfoEntity?.PLCBuildVersion}}</label>
    </div>
    <div class="setup-div">
        <label class="setup-info-label" >PLC Runtime Version: </label>
        <label class="setup-info-label" >{{setupInfoEntity?.PLCRunTimeVersion}}</label>
    </div>
</div>
