<div class="rullerstimelinerullertimelineleft21">
    <div class="rullerstimelinerullertimelineleft11">
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                08:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft12">
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                09:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft13">
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                10:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft14">
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                11:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft15">
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                12:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft16">
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                13:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft17">
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                14:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft18">
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                15:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft19">
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                16:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft20">
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                17:00
            </div>
        </div>
    </div>
    <div class="rullerstimelinerullertimelineleft22">
        <div class="timelinetimelinemaster">
            <img class="path" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path1" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path2" src="/assets/images/common/ruler/artboard-path-71@2x.png" />
            <img class="path3" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <img class="path4" src="/assets/images/common/ruler/artboard-path-63@2x.png" />
            <div class="a0800">
                18:00
            </div>
        </div>
    </div>
</div>