.rullerstimelinerullertimelineleft21 {
    background-color: rgba(255, 255, 255, 0);
    height: 818px;
    width: 42px;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft11 {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft11 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft11 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0);
    top: 33.82%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft11 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0);
    top: 49.26%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft11 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 32.35%;
    height: 1.47%;
    width: 47.62%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft11 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 16.18%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft11 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0px;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft11 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 6px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(216, 235, 255, 1);
    text-align: right;
    line-height: 16px;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft12 {
    background-color: rgba(255, 255, 255, 0);
    top: 9.17%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft12 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft12 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0);
    top: 33.82%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft12 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0);
    top: 49.26%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft12 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 32.35%;
    height: 1.47%;
    width: 47.62%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft12 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 16.18%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft12 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0px;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft12 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 6px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(216, 235, 255, 1);
    text-align: right;
    line-height: 16px;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft13 {
    background-color: rgba(255, 255, 255, 0);
    top: 18.34%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft13 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft13 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0);
    top: 33.82%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft13 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0);
    top: 49.26%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft13 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 32.35%;
    height: 1.47%;
    width: 47.62%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft13 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 16.18%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft13 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0px;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft13 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 6px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(216, 235, 255, 1);
    text-align: right;
    line-height: 16px;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft14 {
    background-color: rgba(255, 255, 255, 0);
    top: 27.51%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft14 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft14 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0);
    top: 33.82%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft14 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0);
    top: 49.26%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft14 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 32.35%;
    height: 1.47%;
    width: 47.62%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft14 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 16.18%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft14 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0px;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft14 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 6px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(216, 235, 255, 1);
    text-align: right;
    line-height: 16px;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft15 {
    background-color: rgba(255, 255, 255, 0);
    top: 36.67%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft15 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft15 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0);
    top: 33.82%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft15 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0);
    top: 49.26%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft15 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 32.35%;
    height: 1.47%;
    width: 47.62%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft15 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 16.18%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft15 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0px;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft15 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 6px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(216, 235, 255, 1);
    text-align: right;
    line-height: 16px;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft16 {
    background-color: rgba(255, 255, 255, 0);
    top: 45.84%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft16 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft16 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0);
    top: 33.82%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft16 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0);
    top: 49.26%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft16 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 32.35%;
    height: 1.47%;
    width: 47.62%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft16 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 16.18%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft16 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0px;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft16 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 6px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(216, 235, 255, 1);
    text-align: right;
    line-height: 16px;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft17 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 36.67%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft17 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft17 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0);
    top: 33.82%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft17 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0);
    top: 49.26%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft17 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 32.35%;
    height: 1.47%;
    width: 47.62%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft17 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 16.18%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft17 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0px;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft17 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 6px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(216, 235, 255, 1);
    text-align: right;
    line-height: 16px;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft18 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 27.51%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft18 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft18 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0);
    top: 33.82%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft18 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0);
    top: 49.26%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft18 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 32.35%;
    height: 1.47%;
    width: 47.62%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft18 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 16.18%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft18 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0px;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft18 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 6px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(216, 235, 255, 1);
    text-align: right;
    line-height: 16px;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft19 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 18.34%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft19 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft19 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0);
    top: 33.82%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft19 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0);
    top: 49.26%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft19 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 32.35%;
    height: 1.47%;
    width: 47.62%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft19 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 16.18%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft19 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0px;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft19 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 6px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(216, 235, 255, 1);
    text-align: right;
    line-height: 16px;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft20 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 9.17%;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft20 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft20 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0);
    top: 33.82%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft20 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0);
    top: 49.26%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft20 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 32.35%;
    height: 1.47%;
    width: 47.62%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft20 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 16.18%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft20 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0px;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft20 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 6px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(216, 235, 255, 1);
    text-align: right;
    line-height: 16px;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft22 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0px;
    height: 8.31%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft22 .timelinetimelinemaster {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft22 .timelinetimelinemaster .path {
    background-color: rgba(255, 255, 255, 0);
    top: 33.82%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft22 .timelinetimelinemaster .path1 {
    background-color: rgba(255, 255, 255, 0);
    top: 49.26%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft22 .timelinetimelinemaster .path2 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 32.35%;
    height: 1.47%;
    width: 47.62%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft22 .timelinetimelinemaster .path3 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 16.18%;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft22 .timelinetimelinemaster .path4 {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0px;
    height: 1.47%;
    width: 23.81%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.5;
}

.rullerstimelinerullertimelineleft21 .rullerstimelinerullertimelineleft22 .timelinetimelinemaster .a0800 {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 16px;
    width: 36px;
    position: absolute;
    margin: 0;
    left: 6px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.7;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(216, 235, 255, 1);
    text-align: right;
    line-height: 16px;
}

.anima-valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}