<!-- Monitor screen - imported from Anima -->
<div class="absolute">
  <div class="artboard artboard-pgOW component state1" data-initial-state="state1">
    <div style="width: 1920px; height: 100%; position:relative; margin:auto;">
      <img class="bgscreen" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-screen.png">
      <div class="utility">
        <div class="bg9">
          <img class="bg10" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-12.png">
          <img class="bg11" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-13.png">
          <div class="morningshift3">
            UTILITY
          </div>


        </div>
        <div class="conductivity">
          <img class="monitormaingaugeredright"
            src="app/root-modules/monitor/monitor-screen/img/artboard-monitormaingaugeredright@2x.png">
          <img class="bg" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-14@2x.png">
          <div class="inks">
            Conductivity
          </div>
          <div class="image1">
            %
          </div>
          <div class="blue">
            100
          </div>
          <img class="blue1" src="app/root-modules/monitor/monitor-screen/img/artboard-blue-2@2x.png">
          <img class="oval" src="app/root-modules/monitor/monitor-screen/img/artboard-oval-5@2x.png" />



        </div>
        <div class="efs">
          <img class="monitormaingaugeredright1"
            src="app/root-modules/monitor/monitor-screen/img/artboard-monitormaingaugeredright-8@2x.png">
          <img class="bg1" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-14@2x.png">
          <div class="inks1">
            EFS
          </div>
          <div class="image2">
            %
          </div>
          <div class="blue2">
            100
          </div>
          <img class="blue3" src="app/root-modules/monitor/monitor-screen/img/artboard-blue-2@2x.png">
          <img class="oval1" src="app/root-modules/monitor/monitor-screen/img/artboard-oval-5@2x.png" />



        </div>
        <div class="waste">
          <img class="monitormaingaugeredright2"
            src="app/root-modules/monitor/monitor-screen/img/artboard-monitormaingaugeredright-8@2x.png">
          <img class="bg2" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-14@2x.png">
          <div class="inks2">
            Waste
          </div>
          <div class="image3">
            %
          </div>
          <div class="blue4">
            100
          </div>
          <img class="blue5" src="app/root-modules/monitor/monitor-screen/img/artboard-blue-2@2x.png">
          <img class="oval2" src="app/root-modules/monitor/monitor-screen/img/artboard-oval-5@2x.png" />



        </div>
        <div class="rio">
          <img class="monitormaingaugeredright3"
            src="app/root-modules/monitor/monitor-screen/img/artboard-monitormaingaugeredright-8@2x.png">
          <img class="bg3" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-14@2x.png">
          <div class="inks3">
            Rio
          </div>
          <div class="image4">
            %
          </div>
          <div class="blue6">
            100
          </div>
          <img class="blue7" src="app/root-modules/monitor/monitor-screen/img/artboard-blue-2@2x.png">
          <img class="oval3" src="app/root-modules/monitor/monitor-screen/img/artboard-oval-5@2x.png" />



        </div>
      </div>
      <div class="engine">
        <div class="bg12">
          <img class="bg13" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-6.png">
          <img class="bg14" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-7.png">
          <div class="morningshift4">
            ENGINE UNIT
          </div>


        </div>
        <div class="sep">
          <img class="sep1" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep2" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep3" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep4" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep5" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep6" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg" />





        </div>
        <div class="a">
          <img class="combinedshape" src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape@2x.png">
          <div class="a2">
            A
          </div>
          <div class="white">
            <div class="progress">
              <img class="r" src="app/root-modules/monitor/monitor-screen/img/artboard-r@2x.png" />
            </div>
            <img class="r1" src="app/root-modules/monitor/monitor-screen/img/artboard-r-17@2x.png" />
          </div>
          <div class="cyan">
            <img class="progress1" src="app/root-modules/monitor/monitor-screen/img/artboard-progress@2x.png">
            <img class="r2" src="app/root-modules/monitor/monitor-screen/img/artboard-r-2@2x.png" />

          </div>
          <div class="printing">
            Printing
          </div>
          <div class="lifespan">
            Lifespan
          </div>
          <div class="data">
            <div class="image5">
              %
            </div>
            <div class="a100">
              100
            </div>
            <div class="image6">
              %
            </div>
            <div class="a1001">
              80
            </div>
          </div>

        </div>
        <div class="b">
          <img class="combinedshape1" src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape@2x.png">
          <div class="b1">
            B
          </div>
          <div class="white1">
            <div class="progress2">
              <img class="r3" src="app/root-modules/monitor/monitor-screen/img/artboard-r-3@2x.png" />
            </div>
            <img class="r4" src="app/root-modules/monitor/monitor-screen/img/artboard-r-6@2x.png" />
          </div>
          <div class="magenta">
            <img class="progress3" src="app/root-modules/monitor/monitor-screen/img/artboard-progress-1@2x.png">
            <img class="r5" src="app/root-modules/monitor/monitor-screen/img/artboard-r-5@2x.png" />

          </div>
          <div class="printing1">
            Printing
          </div>
          <div class="lifespan1">
            Lifespan
          </div>
          <div class="data1">
            <div class="image7">
              %
            </div>
            <div class="a1002">
              100
            </div>
            <div class="image8">
              %
            </div>
            <div class="a1003">
              80
            </div>
          </div>

        </div>
        <div class="c">
          <img class="combinedshape2" src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape@2x.png">
          <div class="c1">
            C
          </div>
          <div class="magenta1">
            <img class="progress4" src="app/root-modules/monitor/monitor-screen/img/artboard-progress-2@2x.png">
            <img class="r6" src="app/root-modules/monitor/monitor-screen/img/artboard-r-6@2x.png" />

          </div>
          <div class="orange">
            <div class="progress5">
              <img class="r7" src="app/root-modules/monitor/monitor-screen/img/artboard-r-7@2x.png" />
            </div>
            <img class="r8" src="app/root-modules/monitor/monitor-screen/img/artboard-r-8@2x.png" />
          </div>
          <div class="printing2">
            Printing
          </div>
          <div class="lifespan2">
            Lifespan
          </div>
          <div class="data2">
            <div class="image9">
              %
            </div>
            <div class="a1004">
              100
            </div>
            <div class="image10">
              %
            </div>
            <div class="a1005">
              70
            </div>
          </div>

        </div>
        <div class="d">
          <img class="combinedshape3" src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape@2x.png">
          <div class="b2">
            D
          </div>
          <div class="yellow">
            <img class="progress6" src="app/root-modules/monitor/monitor-screen/img/artboard-progress-3@2x.png">
            <img class="r9" src="app/root-modules/monitor/monitor-screen/img/artboard-r-14@2x.png" />

          </div>
          <div class="violet">
            <div class="progress7">
              <img class="r10" src="app/root-modules/monitor/monitor-screen/img/artboard-r-10@2x.png" />
            </div>
            <img class="r11" src="app/root-modules/monitor/monitor-screen/img/artboard-r-11@2x.png" />
          </div>
          <div class="printing3">
            Printing
          </div>
          <div class="lifespan3">
            Lifespan
          </div>
          <div class="data3">
            <div class="image11">
              %
            </div>
            <div class="a1006">
              80
            </div>
            <div class="image12">
              %
            </div>
            <div class="a1007">
              100
            </div>
          </div>

        </div>
        <div class="e">
          <img class="combinedshape4" src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape@2x.png">
          <div class="e1">
            E
          </div>
          <div class="red">
            <img class="progress8" src="app/root-modules/monitor/monitor-screen/img/artboard-progress-4@2x.png">
            <img class="r12" src="app/root-modules/monitor/monitor-screen/img/artboard-r-12@2x.png" />

          </div>
          <div class="progress9">
            <img class="r13" src="app/root-modules/monitor/monitor-screen/img/artboard-r-13@2x.png" />
          </div>
          <img class="r14" src="app/root-modules/monitor/monitor-screen/img/artboard-r-14@2x.png">
          <div class="printing4">
            Printing
          </div>
          <div class="lifespan4">
            Lifespan
          </div>
          <div class="data4">
            <div class="image13">
              %
            </div>
            <div class="a1008">
              100
            </div>
            <div class="image14">
              %
            </div>
            <div class="a1009">
              100
            </div>
          </div>


        </div>
        <div class="f">
          <img class="combinedshape5" src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape@2x.png">
          <div class="b3">
            F
          </div>
          <div class="black">
            <div class="progress10">
              <img class="r15" src="app/root-modules/monitor/monitor-screen/img/artboard-r-15@2x.png" />
            </div>
            <img class="r16" src="app/root-modules/monitor/monitor-screen/img/artboard-r-16@2x.png" />
          </div>
          <div class="white2">
            <img class="progress11" src="app/root-modules/monitor/monitor-screen/img/artboard-progress-5@2x.png">
            <img class="r17" src="app/root-modules/monitor/monitor-screen/img/artboard-r-17@2x.png" />

          </div>
          <div class="printing5">
            Printing
          </div>
          <div class="lifespan5">
            Lifespan
          </div>
          <div class="data5">
            <div class="image15">
              %
            </div>
            <div class="a10010">
              80
            </div>
            <div class="image16">
              %
            </div>
            <div class="a10011">
              80
            </div>
          </div>

        </div>
        <div class="imp">
          <img class="bg4" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-14@2x.png">
          <div class="inks4">
            IMP
          </div>
          <div class="image17">
            %
          </div>
          <div class="blue8">
            100
          </div>
          <img class="blue9" src="app/root-modules/monitor/monitor-screen/img/artboard-blue-2@2x.png">
          <img class="oval4" src="app/root-modules/monitor/monitor-screen/img/artboard-oval-5@2x.png">
          <img class="monitormaingaugeredright4"
            src="app/root-modules/monitor/monitor-screen/img/artboard-monitormaingaugeredright-8@2x.png" />



        </div>
        <div class="bru">
          <img class="monitormaingaugeredright5"
            src="app/root-modules/monitor/monitor-screen/img/artboard-monitormaingaugeredright-8@2x.png">
          <img class="bg5" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-14@2x.png">
          <div class="inks5">
            BRU
          </div>
          <div class="image18">
            %
          </div>
          <div class="blue10">
            100
          </div>
          <img class="blue11" src="app/root-modules/monitor/monitor-screen/img/artboard-blue-2@2x.png">
          <img class="oval5" src="app/root-modules/monitor/monitor-screen/img/artboard-oval-5@2x.png" />



        </div>
        <div class="rewinder">
          BLANKET
        </div>
        <div class="temp80260">
          Temp: 80°
        </div>
      </div>
      <div class="inkscabint">
        <div class="bg">
          <img class="bg1" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-10.png">
          <img class="bg2" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-11.png">
          <div class="morningshift">
            INKS CABINT
          </div>


        </div>
        <div class="a1white">
          <div class="revolversbgmagenta1">
            <img class="combinedshape6"
              src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-7@2x.png">
            <img class="mask" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-14@2x.png">
            <img class="mask1" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-3@2x.png">
            <div class="label1">
              %
            </div>
            <img class="tubeup" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-1@2x.png">
            <img class="tubeup1" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-1@2x.png">
            <img class="tubeup2" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-1@2x.png">
            <img class="tubeup3" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-1@2x.png" />






          </div>
          <div class="printing6">
            Printing
          </div>
          <div class="red1 anima-valign-text-middle">
            01:20
          </div>
          <div class="white3">
            White
          </div>
          <div class="a1">
            1
          </div>
          <div class="path">
            <img class="path1" src="app/root-modules/monitor/monitor-screen/img/artboard-path@2x.png" />
          </div>
          <div class="a50">
            50
          </div>
          <img class="tubeup5" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-14@2x.png">
          <div class="a100">
            100
          </div>
          <img class="tubeup6" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-14@2x.png">
          <img class="tubeup7" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-14@2x.png">
          <div class="a1001">
            100
          </div>
          <div class="a1002">
            100
          </div>



        </div>
        <div class="a1white1">
          <div class="revolversbgmagenta1">
            <img class="combinedshape7"
              src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-7@2x.png">
            <img class="mask" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-14@2x.png">
            <img class="mask1" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-3@2x.png">
            <div class="label1">
              %
            </div>
            <img class="tubeup8" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-1@2x.png">
            <img class="tubeup9" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-1@2x.png">
            <img class="tubeup10" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-1@2x.png">
            <img class="tubeup11" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-1@2x.png" />






          </div>
          <div class="printing7">
            Printing
          </div>
          <div class="red2 anima-valign-text-middle">
            01:20
          </div>
          <div class="white4">
            White
          </div>
          <div class="a12">
            12
          </div>
          <img class="tubeup12" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-14@2x.png">
          <img class="tubeup13" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-14@2x.png">
          <img class="tubeup14" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-14@2x.png">
          <img class="tubeup15" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-14@2x.png">
          <div class="a100">
            100
          </div>
          <div class="a1001">
            100
          </div>
          <div class="a1002">
            100
          </div>
          <div class="a1003">
            100
          </div>




        </div>
        <div class="a2cyan">
          <div class="revolversbgmagenta2">
            <img class="combinedshape8"
              src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-8@2x.png">
            <div class="label1">
              %
            </div>
            <img class="tubeup16" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-16@2x.png">
            <img class="tubeup17" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-16@2x.png">
            <img class="mask" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-14@2x.png">
            <img class="mask1" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-3@2x.png" />




          </div>
          <img class="tubeup18" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-18@2x.png">
          <img class="tubeup19" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-18@2x.png">
          <div class="printing8">
            Printing
          </div>
          <div class="a100">
            100
          </div>
          <img class="tubeup" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-18@2x.png">
          <div class="a1001">
            100
          </div>
          <div class="a1002">
            100
          </div>
          <div class="red3 anima-valign-text-middle">
            01:20
          </div>
          <div class="cyan1">
            Cyan
          </div>
          <div class="a21">
            2
          </div>



        </div>
        <div class="revolversbgmagenta">
          <div class="revolver">
            <img class="combinedshape"
              src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-14@2x.png">
            <img class="mask" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-14@2x.png">
            <div class="new">
              <img class="mask2" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-10@2x.png">
              <img class="combinedshape1"
                src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-10@2x.png">
              <img class="mask1" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-18@2x.png" />


            </div>
            <img class="half" src="app/root-modules/monitor/monitor-screen/img/artboard-half-1@2x.png">
            <div class="label1">
              %
            </div>
            <img class="tubeup" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-30@2x.png">
            <img class="tubeup1" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-30@2x.png">
            <img class="tubeup20" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-22@2x.png">
            <div class="a100">
              100
            </div>
            <img class="path" src="app/root-modules/monitor/monitor-screen/img/artboard-path-1.png" />






          </div>
          <div class="printing9">
            Printing
          </div>
          <div class="red4 anima-valign-text-middle">
            01:00
          </div>
          <div class="magenta2">
            Magenta
          </div>
          <div class="a3">
            3
          </div>
        </div>
        <div class="a4green">
          <div class="revolvers">
            <img class="combinedshape9"
              src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-11@2x.png">
            <img class="mask" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-14@2x.png">
            <img class="half" src="app/root-modules/monitor/monitor-screen/img/artboard-half-1@2x.png">
            <div class="new">
              <img class="mask2" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-10@2x.png">
              <img class="combinedshape"
                src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-10@2x.png">
              <img class="mask1" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-18@2x.png" />


            </div>
            <div class="label1">
              %
            </div>
            <img class="tubeup21" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-24@2x.png">
            <img class="tubeup22" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-24@2x.png">
            <img class="tubeup23" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-25@2x.png">
            <div class="a100">
              100
            </div>
            <img class="tubedown" src="app/root-modules/monitor/monitor-screen/img/artboard-tubedown-1@2x.png">
            <div class="a0">
              0
            </div>







          </div>
          <div class="printing10">
            Printing
          </div>
          <div class="red5 anima-valign-text-middle">
            00:50
          </div>
          <div class="green">
            Green
          </div>
          <div class="a4">
            4
          </div>
        </div>
        <div class="a5orange">
          <div class="revolversbgmagenta3">
            <img class="combinedshape10"
              src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-13@2x.png">
            <div class="label1">
              %
            </div>
            <img class="tubeup24" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-26@2x.png">
            <img class="tubeup25" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-26@2x.png" />


          </div>
          <img class="tubeup26" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-28@2x.png">
          <div class="a100">
            100
          </div>
          <div class="path1">
            <img class="path11" src="app/root-modules/monitor/monitor-screen/img/artboard-path-1@2x.png" />
          </div>
          <div class="a20">
            20
          </div>
          <div class="printing11">
            Printing
          </div>
          <div class="red6 anima-valign-text-middle">
            00:30
          </div>
          <div class="orange1">
            Orange
          </div>
          <div class="a5">
            5
          </div>

        </div>
        <div class="a6magenta">
          <div class="revolver1">
            <img class="combinedshape11"
              src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-14@2x.png">
            <img class="mask" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-14@2x.png">
            <img class="mask1" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-3@2x.png">
            <img class="tubeup27" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-30@2x.png">
            <img class="tubeup28" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-30@2x.png">
            <img class="tubeup29" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-22@2x.png">
            <img class="tubeup30" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-22@2x.png" />






          </div>
          <div class="a100">
            100
          </div>
          <div class="a1001">
            100
          </div>
          <div class="label1">
            %
          </div>
          <div class="printing12">
            Printing
          </div>
          <div class="red7 anima-valign-text-middle">
            01:00
          </div>
          <div class="magenta3">
            Magenta
          </div>
          <div class="a6">
            6
          </div>
        </div>
        <div class="a7violet">
          <div class="revolversbgmagenta4">
            <img class="combinedshape12"
              src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-16@2x.png">
            <img class="combinedshape13"
              src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-16@2x.png">
            <img class="empty2" src="app/root-modules/monitor/monitor-screen/img/artboard-empty@2x.png">
            <div class="label1">
              %
            </div>
            <img class="tubeup31" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-33@2x.png">
            <img class="tubedown1" src="app/root-modules/monitor/monitor-screen/img/artboard-tubedown-1@2x.png">
            <img class="tubeup32" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-34@2x.png">
            <div class="a100">
              100
            </div>
            <div class="icons16icon16close">
              <img class="fill1" src="app/root-modules/monitor/monitor-screen/img/artboard-fill-1@2x.png" />
            </div>
            <img class="tubeup33" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-33@2x.png" />






          </div>
          <div class="printing13">
            Printing
          </div>
          <div class="red8 anima-valign-text-middle">
            01:00
          </div>
          <div class="violet1">
            Violet
          </div>
          <div class="a7">
            7
          </div>
        </div>
        <div class="a8yellow">
          <img class="combinedshape14"
            src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-18@2x.png">
          <img class="full" src="app/root-modules/monitor/monitor-screen/img/artboard-full.png">
          <div class="label1">
            %
          </div>
          <img class="tubeup34" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-36@2x.png">
          <img class="tubeup35" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-36@2x.png">
          <div class="a100">
            100
          </div>
          <div class="a1001">
            100
          </div>
          <div class="printing14">
            Printing
          </div>
          <div class="red9 anima-valign-text-middle">
            01:30
          </div>
          <div class="yellow1">
            Yellow
          </div>
          <div class="a8">
            8
          </div>




        </div>
        <div class="a9yellow">
          <img class="combinedshape15"
            src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-18@2x.png">
          <img class="half" src="app/root-modules/monitor/monitor-screen/img/artboard-half-2.png">
          <img class="half1" src="app/root-modules/monitor/monitor-screen/img/artboard-half-1@2x.png">
          <div class="label1">
            %
          </div>
          <img class="tubeup36" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-36@2x.png">
          <div class="a100">
            100
          </div>
          <div class="path3">
            <img class="path31" src="app/root-modules/monitor/monitor-screen/img/artboard-path-3@2x.png" />
          </div>
          <div class="a20">
            20
          </div>
          <div class="printing15">
            Printing
          </div>
          <div class="red10 anima-valign-text-middle">
            01:00
          </div>
          <div class="yellow2">
            Yellow
          </div>
          <div class="a9">
            9
          </div>




        </div>
        <div class="a10red">
          <div class="revolversbgmagenta5">
            <img class="combinedshape16"
              src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-19@2x.png">
            <img class="mask" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-14@2x.png">
            <img class="mask1" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-3@2x.png">
            <div class="label1">
              %
            </div>
            <img class="tubeup37" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-40@2x.png">
            <img class="tubeup38" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-40@2x.png">
            <img class="tubeup39" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-41@2x.png">
            <img class="tubeup40" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-41@2x.png">
            <div class="a100">
              100
            </div>
            <div class="a1001">
              100
            </div>







          </div>
          <div class="printing16">
            Printing
          </div>
          <div class="red11 anima-valign-text-middle">
            01:00
          </div>
          <div class="red12">
            Red
          </div>
          <div class="a10">
            10
          </div>
        </div>
        <div class="a11black">
          <img class="combinedshape17"
            src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-20@2x.png">
          <img class="mask" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-14@2x.png">
          <div class="new">
            <img class="mask2" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-10@2x.png">
            <img class="combinedshape"
              src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-10@2x.png">
            <img class="mask1" src="app/root-modules/monitor/monitor-screen/img/artboard-mask-18@2x.png" />


          </div>
          <img class="half" src="app/root-modules/monitor/monitor-screen/img/artboard-half-1@2x.png">
          <div class="label1">
            %
          </div>
          <img class="tubeup41" src="app/root-modules/monitor/monitor-screen/img/artboard-tubeup-43@2x.png">
          <div class="a100">
            100
          </div>
          <div class="path5">
            <img class="path51" src="app/root-modules/monitor/monitor-screen/img/artboard-path-4@2x.png" />
          </div>
          <div class="a50">
            50
          </div>
          <div class="printing17">
            Printing
          </div>
          <div class="red13 anima-valign-text-middle">
            01:00
          </div>
          <div class="black1">
            Black
          </div>
          <div class="a11">
            11
          </div>




        </div>
        <div class="sep7">
          <img class="sep8" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep9" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep10" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep11" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep12" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep13" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep14" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep15" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep16" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep17" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg">
          <img class="sep18" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-12.svg" />










        </div>
        <div class="sepimage">
          <img class="sep" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png">
          <img class="sep1" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png">
          <img class="sep2" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png">
          <img class="sep3" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png">
          <img class="sep4" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png">
          <img class="sep5" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png">
          <img class="sep6" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png">
          <img class="sep71" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png">
          <img class="sep8" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png">
          <img class="sep9" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png">
          <img class="sep10" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png" />










        </div>
        <div class="sepimages">
          <img class="sep" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png">
          <img class="sep1" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png">
          <img class="sep2" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png">
          <img class="sep3" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png">
          <img class="sep4" src="app/root-modules/monitor/monitor-screen/img/artboard-sep-26@2x.png" />




        </div>
      </div>
      <div class="pws">
        <div class="bg6">
          <img class="bg7" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-12.png">
          <img class="bg8" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-13.png">
          <div class="morningshift2">
            PWS
          </div>


        </div>
        <div class="cleaning">
          <img class="monitormaingaugeredright6"
            src="app/root-modules/monitor/monitor-screen/img/artboard-monitormaingaugeredright-8@2x.png">
          <img class="bg61" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-14@2x.png">
          <div class="inks6">
            Cleaning
          </div>
          <div class="image21">
            %
          </div>
          <div class="blue12">
            100
          </div>
          <img class="blue13" src="app/root-modules/monitor/monitor-screen/img/artboard-blue-2@2x.png">
          <img class="oval6" src="app/root-modules/monitor/monitor-screen/img/artboard-oval-5@2x.png" />



        </div>
        <div class="primer">
          <img class="monitormaingaugeredright7"
            src="app/root-modules/monitor/monitor-screen/img/artboard-monitormaingaugeredright-8@2x.png">
          <img class="bg7" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-14@2x.png">
          <div class="inks7">
            Primer
          </div>
          <div class="image22">
            %
          </div>
          <div class="blue14">
            100
          </div>
          <img class="blue15" src="app/root-modules/monitor/monitor-screen/img/artboard-blue-2@2x.png">
          <img class="oval7" src="app/root-modules/monitor/monitor-screen/img/artboard-oval-5@2x.png" />



        </div>
        <div class="waste1">
          <img class="monitormaingaugeredright8"
            src="app/root-modules/monitor/monitor-screen/img/artboard-monitormaingaugeredright-8@2x.png">
          <img class="bg8" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-14@2x.png">
          <div class="inks8">
            Waste
          </div>
          <div class="image23">
            %
          </div>
          <div class="blue16">
            100
          </div>
          <img class="blue17" src="app/root-modules/monitor/monitor-screen/img/artboard-blue-2@2x.png">
          <img class="oval8" src="app/root-modules/monitor/monitor-screen/img/artboard-oval-5@2x.png" />



        </div>
      </div>
      <div class="substrate">
        <div class="bg3">
          <img class="bg4" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-17.png">
          <img class="bg5" src="app/root-modules/monitor/monitor-screen/img/artboard-bg-13.png">
          <div class="morningshift1">
            SUBSTRATE
          </div>


        </div>
        <div class="group">
          <div class="a0120 anima-valign-text-middle">
            01:20
          </div>
          <div class="loadout">
            Load out
          </div>
          <div class="a2280 anima-valign-text-middle">
            2,280
          </div>
          <div class="leftm">
            Left (m)
          </div>
          <div class="rewinder1">
            Tension: On
          </div>
          <div class="rewinder2">
            REWINDER
          </div>
          <div class="a01201 anima-valign-text-middle">
            01:20
          </div>
          <div class="loadout1">
            Load out
          </div>
          <div class="a720 anima-valign-text-middle">
            720
          </div>
          <div class="leftm1">
            Left (m)
          </div>
          <div class="rewinder3">
            Tension: On
          </div>
          <div class="rewinder4">
            UNWINDER
          </div>
          <div class="group4">
            <div class="a024mmthickness2">
              0.24mm thickness  /  250mm width
            </div>
            <div class="mohawk80eggshell">
              Mohawk 80# Eggshell
            </div>
          </div>
          <img class="artboard1" src="app/root-modules/monitor/monitor-screen/img/artboard-artboard@2x.png" />
        </div>
      </div>
      <div class="flowscolormytools">
        Flows Color My tools
      </div>
      <div class="press">
        <div class="rewinder5">
          <img class="combinedshape18"
            src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-22@2x.png">
          <img class="rectangle" src="app/root-modules/monitor/monitor-screen/img/artboard-rectangle@2x.png">
          <img class="rectangle1" src="app/root-modules/monitor/monitor-screen/img/artboard-rectangle-1@2x.png">
          <div class="rectangle2">
          </div>
          <img class="oval9" src="app/root-modules/monitor/monitor-screen/img/artboard-oval-9@2x.png">
          <img class="path7" src="app/root-modules/monitor/monitor-screen/img/artboard-path-7@2x.png" />




        </div>
        <img class="rectangle3" src="app/root-modules/monitor/monitor-screen/img/artboard-rectangle-2.png">
        <div class="rectangle4">
        </div>
        <div class="rectangle5">
        </div>
        <div class="rectangle6">
        </div>
        <div class="inks9">
          <div class="r18">
            <div class="rectangle7">
            </div>
            <div class="rectangle8">
            </div>
            <div class="rectangle9">
            </div>
            <div class="rectangle10">
            </div>
            <div class="rectangle11">
            </div>
            <div class="rectangle12">
            </div>
          </div>
          <div class="l">
            <div class="rectangle13">
            </div>
            <div class="rectangle14">
            </div>
            <div class="rectangle15">
            </div>
            <div class="rectangle16">
            </div>
            <div class="rectangle17">
            </div>
            <div class="rectangle18">
            </div>
          </div>
        </div>
        <div class="tanks">
          <div class="r19">
            <div class="rectangle19">
            </div>
            <div class="rectangle20">
            </div>
            <div class="rectangle21">
            </div>
            <div class="rectangle22">
            </div>
            <div class="rectangle23">
            </div>
            <div class="rectangle24">
            </div>
          </div>
          <div class="l1">
            <div class="rectangle25">
            </div>
            <div class="rectangle26">
            </div>
            <div class="rectangle27">
            </div>
            <div class="rectangle28">
            </div>
            <div class="rectangle29">
            </div>
            <div class="rectangle30">
            </div>
          </div>
        </div>
        <div class="unwinder">
          <img class="combinedshape19"
            src="app/root-modules/monitor/monitor-screen/img/artboard-combined-shape-23@2x.png">
          <div class="rectangle31">
          </div>
          <div class="rectangle32">
          </div>
          <img class="oval10" src="app/root-modules/monitor/monitor-screen/img/artboard-oval-10@2x.png">
          <div class="rectangle33">
          </div>
          <div class="rectangle34">
          </div>
          <div class="rectangle35">
          </div>


        </div>
        <div class="screens">
          <div class="rectangle36">
          </div>
          <img class="rectangle37" src="app/root-modules/monitor/monitor-screen/img/artboard-rectangle-3@2x.png">
          <div class="rectangle38">
          </div>
          <div class="rectangle39">
          </div>

        </div>
        <div class="lines">
          <div class="rectangle40">
          </div>
          <div class="rectangle41">
          </div>
          <div class="rectangle42">
          </div>
          <img class="rectangle43" src="app/root-modules/monitor/monitor-screen/img/artboard-rectangle-4@2x.png">
          <img class="rectangle44" src="app/root-modules/monitor/monitor-screen/img/artboard-rectangle-5@2x.png">
          <img class="path51" src="app/root-modules/monitor/monitor-screen/img/artboard-path-5@2x.png">
          <img class="path61" src="app/root-modules/monitor/monitor-screen/img/artboard-path-6@2x.png" />



        </div>

      </div>
      <img class="empty" src="app/root-modules/monitor/monitor-screen/img/artboard-empty-1.png">
      <img class="empty1" src="app/root-modules/monitor/monitor-screen/img/artboard-empty@2x.png" />


    </div>
  </div>
</div>